{
    "users": [
        {
            "username": "view",
            "password": "",
            "UserRole": "Viewer"
        },
        {
            "username": "edit",
            "password": "",
            "UserRole": "Editor"
        },
        {
            "username": "qgis",
            "password": "",
            "UserRole": "Editor"
        },
        {
            "username": "admin",
            "password": "admin",
            "UserRole": "Administrator"
        }
    ]
}