{
    "users": [
        {
            "username": "view",
            "password": "",
            "userrole": "Viewer"
        },
        {
            "username": "edit",
            "password": "",
            "userrole": "Editor"
        },
        {
            "username": "qgis",
            "password": "",
            "userrole": "Editor"
        },
        {
            "username": "admin",
            "password": "",
            "userrole": "Administrator"
        },
        {
            "username": "",
            "password": "",
            "userrole": "Administrator"
        }

    ]
}
