# 日本語対応のためUTF-8とすること。
# 仮想ドライブを任意に指定
# 標準はQ：とする
# 複数のシステムを同時起動するときのみ変更のこと
# ※必須
VirtualDrive=Q:

## QGIS標準であるAPPDATA内のプロファイルを利用
# 各人のプロファイルを利用したい場合はこちら
# 最初の起動時には統一環境「portable」を自動配布します
# 標準のユーザープロファイルは「/profiles/portable」に固定
# ポータブル版のプロファイルを利用したい場合はこちら
# qgisconfig_folder=../portable_profile

# QGISの実行フォルダ QGIS_INSTALL_DIR の上書き
# 全体設定としては　exe.config で設定
# 特集な場合のみ設定
# qgis_install_dir_ow=./QGIS3.38.1
