# 日本語対応のためUTF-8とすること。
# 作業用フォルダは通常
# ./QGIS_portable/QGIS****　のポータルQGISのあるフォルダ 
# プロジェクトファイルの位置を指定
ProjectFile=../ProjectFiles/ProjectFile.qgs

# 標準のユーザープロファイルは「/profiles/portable」に固定
# ポータブル版のプロファイルを利用したい場合はこちら
#qgisconfig_folder=./qgisconfig
# QGIS標準であるAPPDATA内のプロファイルを利用
# 各人のプロファイルを利用したい場合はこちら
# 最初の起動時には統一環境「portable」を自動配布します
qgisconfig_folder=%AppData%/QGIS/QGIS3